<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
	<div class="container my-5">
		<div class="row">
			<div class="col-md-6">
				<h2>Home</h2>
				<p class="alert alert-primary">
				<span hidden>When using a query parameter to search for objects with certain characteristics, and the parameter is a String, please surround it with an apostrophe (<strong>'</strong>).
				<br>
				Take this as an example:</span><span hidden class="text-success"> http://localhost:8080/auts?active='Y'</span>
				</p>
				<p><a href="/users/"><i class="fas fa-user-edit ml-2"></i> Go to Users</a></p>
				<p><a href="/auts/"><i class="fas fa-arrow-alt-circle-right ml-2"></i> Go to Autotransitions</a></p>
				<p><a href="/insts/"><i class="fas fa-university ml-2"></i> Go to Institutions</a></p>
				<p><a href="/locs/"><i class="fas fa-arrows-alt-h ml-2"></i> Go to Local conditions</a></p>
				<p><a href="/pres/"><i class="fas fa-check ml-2"></i> Go to Preconditions</a></p>
				<p><a href="/thrs/"><i class="fas fa-question ml-2"></i> Go to Thresholds</a></p>
				<p><a href="/logout"><i class="fas fa-sign-out-alt ml-2"></i> Log out</a></p>
			</div>
		</div>
	</div>
</body>
</html>